<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<!-- конфигурации приложения -->
    <appSettings>
		<add key="useToDoService" value="ToDoServiceStub" />
	</appSettings>
</configuration>